<% provide(:title, 'About the Trainer') %>

<div class="container-fluid artTitle">
	<%= render 'layouts/titleArt' %>
</div>

<div class="container-fluid">
	<%= render 'layouts/addressDiv' %>
	<div class="row-fluid">
		<div class="span2">
			<%= image_tag("ronnie.jpg") %>
		</div>
		
		<div class="span10">
			<p class="sectionHeadings">About the Trainer</p>

    		  	<p>Ronnie Carda has been devoted to helping others achieve their fitness goals for 
				over 18 years.  He has enjoyed success working with individuals possessing a 
				wide range of abilities.  Whether you have limited recreational running 
				experience wishing to complete a half or full marathon or you are a seasoned 
				runner in search of besting your personal running times - Ronnie's knowledge and 
				experience will prove to be invaluable.   
    		   	</p>
				
			<p>Ronnie is proud to have trained two individuals (one man, one woman) to 
				run in their first marathons.  With his guidance they went on to qualify for the 
				U.S. Olympic Trials.  Ronnie is equally proud of his success in assisting runner of
				all abilities achieve their running goals.  He gets great satisfaction from observing
				the progress being made by the individuals he is working with.
			</p>
		</div>
		
	</div>

	<div class="row-fluid">
		<div class="span12" id="credentials">
			<p class="sectionHeadings">Credentials and Accolades</p>
			<ul>
				<li>1990 - Ph D, Biodynamics</ br>
					University of Wisconsin - Madison</ br>
					Madison, Wisconsin
				</li>
			
				<li>1983 - MS, Physical Education</ br>
					South Dakota State University</ br>
					Brookings, South Dakota
				</li>
				
				<li>1979 - BS, Physical Education/History, Athletic Coaching</ br>
					Black Hills State University</ br>
					Spearfish, South Dakota
				</li>
				<li>NSCA Certified Strength and Conditioning Specialist</li>
				<li>Successful high school track and cross-country coach</li>
				<li>Coach for a college running club </li>
				<li>Experience training one-on-one and group distance training with many individuals</li>
				<li>18 Years experience instructing university marathon training class</li>
				<li>10+ years online marathon class through university alumni association</li>
				<li>Coached Leukemia Team In Training half and full marathoners - both walkers 
					and runners, for 8 years</li>
				<li>Lifelong runner</li>
				<li>Ronnie Carda has run in over 50 marathons and half marathons, and he  
					still actively trains to participate in these events.
				</li>  
				
			</ul>
		</div>
	</div>
</div>
