<% provide(:title, 'About the Trainer') %>
<h3>About the Trainer</h3>

<ul>
	<li>PH.D. in Exercise Physiology</li>
	<li>NSCA Certified Strength and Conditioning Specialist</li>
	<li>Lifelong runner</li>
	<li>Previously was a successful high school track and cross-country coach</li>
	<li>Coach for a college running club </li>
	<li>Have ran 40+ marathons</li>
	<li>Have done one on one and group distance training with many individuals</li>
	<li>Taught a university marathon training class for 18 years</li>
	<li>Online marathon class through university alumni association 10+ years</li>
	<li>Coached Leukemia Team In Training Half and full marathoners - both walkers 
		and runners, for 8 years</li>   			
</ul>

<p>Have been successful working with a individuals with a wide range of abilities and experience 
       levels -  from individuals with very limited recreational running experience wishing to challenge
       themselves to complete a 1/2 or full marathon to performance oriented individuals looking to 
       best their personal running times.  I have trained two individuals (one man, one woman) who 
	ran their first marathon, with my guidance, and went on to qualify for the U.S. Olympic Trials 
</p>