<% provide(:title, 'About the Trainer') %>

<div class="container-fluid">
	<%= render 'layouts/titleArt' %>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<h3 class="text-center">About the Trainer</h3>

    		  	<p>Ronnie Carda has been devoted to helping others achieve their fitness goals for 
				over 18 years.  He has enjoyed success working with individuals possessing a 
				wide range of abilities.  Whether you have limited recreational running 
				experience wishing to complete a half or full marathon or you are a seasoned 
				runner in search of besting your personal running times - Ronnie's knowledge and 
				experience will prove to be invaluable.   
    		   	</p>
				
			<p>Among many other accomplishments in his life, Ronnie is very proud to have trained 
				two individuals (one man, one woman) to run in their first marathons.  With his guidance
				they went on to qualify for the U.S. Olympic Trials.
		</div>

	
		<div class="span6">
			<h3 class="text-center">Credentials and Accolades</h3>

			<ul>
				<li>PH.D. in Exercise Physiology</li>
				<li>NSCA Certified Strength and Conditioning Specialist</li>
				<li>Successful high school track and cross-country coach</li>
				<li>Coach for a college running club </li>
				<li>Participated in 40+ marathons</li>
				<li>Experience training one-on-one and group distance training with many individuals</li>
				<li>18 Years experience instructing university marathon training class</li>
				<li>10+ years online marathon class through university alumni association</li>
				<li>Coached Leukemia Team In Training half and full marathoners - both walkers 
					and runners, for 8 years</li>
				<li>Lifelong runner</li>
				<li>Ronnie Carda has run in over 50 marathons and half 
					marathons, and he still actively trains to participate in these events.</li>  
				
			</ul>
		</div>
	</div>
</div>
