<% provide(:title, 'About the Trainer') %>

<div class="container mainContainer">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<%= image_tag("ronnie.jpg") %>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h4 class="sectionHeadings">About the Trainer</h4>

    		  	<p>Ronnie Carda has been devoted to helping others achieve their fitness goals for 
				over 18 years.  He has enjoyed success working with individuals possessing a 
				wide range of abilities.  Whether you have limited recreational running 
				experience wishing to complete a half or full marathon or you are a seasoned 
				runner in search of besting your personal running times - Ronnie's knowledge and 
				experience will prove to be invaluable.   
    		   	</p>
				
			<p>Two individuals that trained for their first marathons with Ronnie, one man and 
				one woman, went on to qualify for the U.S. Olympic trials.  These are only a 
				couple of the successful training experiences individuals have had training with 
				him.  Ronnie is equally proud of his success in assisting runners of all abilities in 
				achieving their running goals. He gets great satisfaction from observing the 
				progress that is made by the individuals with whom he is working.
			</p>
		</div>
		
	</div>

	<div class="row-fluid">
		<div class="col-xs-12" id="credentials">
			<p class="sectionHeadings">Credentials and Accolades</p>
			<ul>
				<li>1990 - Ph D, Biodynamics
					University of Wisconsin-Madison
				</li>
				<li>1983 - MS, Physical Education
					South Dakota State University
					Brookings, South Dakota
				</li>
				<li>1979 - BS, Physical Education/History, Athletic Coaching
					Black Hills State University
					Spearfish, South Dakota
				</li>
				<li>NSCA Certified Strength and Conditioning Specialist</li>
				<li>Experience training one-on-one and group distance training with many 
					individuals-from beginners to Olympic Trials qualifiers
				</li>
				<li>18 Years experience instructing university marathon training class</li>
				<li>10+ years online marathon class through university alumni association</li>
				<li>8 years coach Leukemia TNT half and full marathons</li>
				<li>Lifelong runner</li>
				<li>Ronnie Carda has run in over 50 marathons and half marathons as a lifelong
					runner, and he still actively trains to participate in these events
				</li>  	
			</ul>
		</div>
	</div>
</div>
