<% provide(:title, 'Contact') %>

<div class="container mainContainer">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 text-center">
		<h4>For more information about Next Level Distance Running please email Ronnie Carda at:
			<%= mail_to('Ronnie@cardarunning.com') %>
		</h4>
	</div>
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
			<%= image_tag("tortoise_hare.PNG") %>
		</div>
	</div>
</div>




		