<% provide(:title, 'Contact') %>
<h3 class="sectionHeadings">Contact the Trainer</h3>

<p class="pContent">If you have any questions for the Trainer, please email the Trainer at:
	<a href="mailto:rdcarda@facstaff.wisc.edu?Subject=Web%20Site%20Email" 
    	target="top">Email the Trainer</a>
</p>
