<% provide(:title, 'Contact') %>
<div class="container-fluid artTitle">	
	<%= render 'layouts/titleArt' %>
</div>

<div class="container-fluid">
	<%= render 'layouts/addressDiv' %>
	<br />
	<h3>If you have any questions or concerns please email Ronnie Carda at:
		<%= mail_to('Ronnie@cardarunning.com') %>
	</h3>
</div>




		