<% provide(:title, 'Contact') %>
<div class="container-fluid">	
	<%= render 'layouts/titleArt' %>
	<h2>Contact</h2>
	<br />
	<h3>If you have any questions or concerns please email Ronnie Carda at:
		<%= mail_to('rdcarda@facstaff.wisc.edu') %>
	</h3>	
</div>


