<% provide(:title, 'Contact') %>
<div class="container-fluid">
	<div class="center hero-unit">
		<h1>Next Level Distance Running</h1>
		<h2>Contact</h2>
		<br />
		<h3>If you have any questions or concerns please email Ronnie Carda at:
			<%= mail_to('rdcarda@facstaff.wisc.edu') %>
		</h3>
		
	</div>
</div>


