<% provide(:title, 'Contact') %>

<div class="container mainContainer">
	<h3>If you have any questions or concerns please email Ronnie Carda at:
		<%= mail_to('Ronnie@cardarunning.com') %>
	</h3>
</div>




		