
<h3>My Training Philosophy</h3>
 
<p class="pContent">Regardless of the training goal - the program and training should be a process that 
      can be enjoyed and provide the preparation needed to enjoy the event. Positive memorable 
      experiences keep people participating and my goal is that individuals will continue 
      with a running training program, even if for no other reason than to maintain good 
      health and a high quality of life. The goal of the training should also be to learn 
      about the training process, so there is a better understanding of the program design. 
      The intent is to provide an educational, as well as, a training experience.
  </p>
  
  <h3>Why Choose Next Level Distance Running</h3>

  <ul>
      <li>Many years of individual training</li>
      <li>Successful training experience for runners of all ages, abilities, and goals</li>
      <li>Successfully trained individuals through direct contact meetings and online training processes</li>
      <li>Personalized training programs designed to meet your individual needs</li>
      <li>Educational information provided allows for a greater understanding of why you are 
  	   doing what you are doing in your training</li>
  </ul>
	  
	  

<h3>Packages Offered</h3>
<ul>
	<li>Face to Face</li>
	<li>Online Training Package</li>
</ul>
	

<p>4 + Months of training guidance and information and more of a summary is needed.</p>
