<div class="container mainContainer">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<p class="sectionHeadings">My Training Philosophy</p>
		
			<p>As your trainer, my objective is to assist you in accomplishing your distance 
				running goals.  Although my focus is on training individuals for the half and full 
				marathon, I am also capable and delighted to work with individuals who may be 
				considering a move up to the 10K distance from 5K or, for that matter, figuring 
				out how to get a good start in running.  Ultimately, I wish to provide you with 
				the habits to maintain good health, a high quality of life, and promote distance 
				running as a lifelong activity.  
			</p>

			<p> An individual's training program should be a process that can be enjoyed and 
				also provide the preparation needed to complete a targeted event.  The key to 
				achieving your goals as a distance runner is to focus on the training process.  I 
				will provide you with an educational and positive training experience that will 
				keep you participating.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 runningPic">
			<%= image_tag("runner_jogging_morning.jpg") %>
		</div>
	</div>
</div>