<% provide(:title, 'Training Programs') %>

<div class="container mainContainer">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h4 class="sectionHeadings">Online Training Program</h4>

			<p>The Online Training Package is an excellent choice for runners seeking to reach 
				the next level on their own.  This package offers great videos and power points 
				that help you learn about preparing yourself for any event.  You will 
				communicate with the trainer at least once every other week.
			</p>

			<p>With the online program you will receive:</p>
			
			<ul>
				<li>Personalized training program designed to meet your individual needs</li>
				<li>Bi-monthly training log check-in</li>
				 <li>Ongoing training adjustments to your training program</li>
				 <li>Online power point information which covers various topics such as:</li>
					<ul>
						<li>Running form</li>
				            	<li>Nutrition</li>
				         	<li>Injury prevention and treatment</li>
				           	<li>Program design</li>
				            	<li>Event preparation</li>
				            	<li>Event strategy</li>
						<li class="price">Season Cost: $200.00</li>
					</ul>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<%= image_tag("landscape_mountains_sky.jpg", :class=> "img-circle") %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h4 class="sectionHeadings">Face to Face Training Program</h4>
			
			<p>This is the best training package to optimize your effort with your trainer and to stay on
				course with your training plan.  In addition to all of the benefits of the online
				package, the Face to Face Training Program also includes the following program
				benefits:
			</p>
				<ul>
			        	<li>Ask the trainer access</li>
					<li>Running form analysis</li>
					<li>Weekly group workouts</li>
					<ul>
						<li>includes warm-up activities, various workout types, cool down 
							and stretching activities, core training activities and strength 
							training ideas
						</li>
					</ul> 
						
				 	<li class="price">Season Cost: $300.00</li>
				</ul>	
		</div>
			
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	
			<h4 class="sectionHeadings">Workout Types</h4>
			<p>Group workouts will be individualized according to pace and volume and will 
				include:
			</p>
				<ul>
					<li>Group distance runs</li>
					<li>Tempo Runs</li>
					<li>Hill workouts</li>
					<li>Interval Workouts</li>
				</ul>
		</div>
	</div>
	<div class="row-fluid">
		<h4>Payments Accepted:  Paypal, check or money order</h4>
	</div>	
</div>
</br>

	



    