<% provide(:title, 'Training Plans') %>
<div class="container-fluid">
	<div class="center hero-unit">
		<h1>Next Level Distance Running</h1>
		<h2>Training Programs</h2>
		<h3 id="season">Training season = June until mid-October
	</div>
</div>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<h3 class="text-center">Online Training Program</h3>

			<p>The Online Training Package is an excellent choice for runners seeking to reach 
				the next level on their own.  This package offers great videos and power points 
				that help you learn about preparing yourself for any event.  You will 
				communicate with the trainer weekly to coordinate a plan and adjust it as 
				needed.
				
				<ul>
					<li>Online power points and training videos cover various topics including:</li>
						<ul>
				            		<li>Running form</li>
				            		<li>Nutrition</li>
				            		<li>Injury prevention and treatment</li>
				            		<li>Program design</li>
				            		<li>Event preparation</li>
				            		<li>Event strategy</li>
							<li class="price">Season Cost: $200.00</li>
						</ul>
				</ul>
			</p>
		</div>

	
		<div class="span6">
			<h3 class="text-center">Face to Face Training Program</h3>
			
			<p>This is the best training package to optimize your effort with your trainer and to stay on
				course with your training plan.  In addition to all of the benefits of the online
				package, the Face to Face Training Program also includes the following program
				benefits:
				<ul>
			        <li>Personalized training program designed to meet your individual needs</li>     
			        <li>Check-in with your own bi-weekly training log</li>
			        <li>Ongoing training adjustments to your training program</li>
			        <li>Ask the trainer access</li>
				 <li class="price">Season Cost: $300.00</li>
			</p>

		</div>
	</div>
</div>
</br>

<div class="container-fluid">
	<h3>Workout Types</h3>
	<p>Group workouts will be individualized according to pace and volume and will include:
		<ul>
			<li>Group distance runs</li>
			<li>Tempo Runs</li>
			<li>Hill workouts</li>
			<li>Interval Workouts</li>
		</ul>
	</p>
</div>
    