
@import "bootstrap";

#artContainer {
	background-color: #000;
}

.navbar {
	background-color: transparent;
	border: none;
}

.navbar-toggle {
	background-color: #fff;
	
}

.logo {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

@media (max-width: 768px){
  .navbar-nav li{
    text-align: center;
	display: block;
  }
}