
@import "bootstrap";

//Contains the header nav links, logo and address in one row
html {
	background-color: #000;
}

body {
	background: url("/assets/navbar_background.png") no-repeat center;
	background-size: cover;
	padding-bottom: 60px;
}

#artContainer {
	background-color: #000;
	//background: url("/assets/asphalt_texture430.jpg") no-repeat center;
	//background-size: cover;
	padding-top: 10px;
}

//Navbar
.navbar {
	background-color: transparent;
	border: none;
}

.navbar-toggle {
	background-color: #fff;
}

//Address in header
#tester {	
	text-align: center;
	margin: auto;
	padding:8px;
}

//The NLDR logo inside the div
#art {
	text-align: center;	
}

.sectionHeadings {
	
}

//changes the default color of the header nav links to white
.navbar-default .navbar-collapse .navbar-nav > li > a {
	color: #fff;
	text-shadow: none;
}

//On hover changes to color
.navbar-default .navbar-collapse .navbar-nav > li > a:hover {
	color: #5bc0de;
}

/*Home Page stylings*/
.mainContainer {
	background-color: #fff;
	padding-top: 20px;
}

#homestyle {
	padding-top: 20px;
}

.tabContentHeadings {
	//color: red;
}

.facebook-paypal-links {
	padding: 10px;
}

#location {
	color: white;
	letter-spacing: 3px;
}