<div class="container padding-10-px" id="footerDiv">
	<div class="row-fluid">		
		<div class="col-xs-12 text-center jumbotron">
			<h5>&#169; All Rights Reserved by Ronnie Carda<br />
				Website Designed by Dan Yachcik
			</h5>	
		</div>
	</div>
</div>

