<div class="container" id="artContainer">
	<div class="row-fluid">
		<div class="col-xs-12 col-md-6 col-md-offset-3" id="logoDiv">
			<%= image_tag("nldr_text3.png", :id=> "art", :class => "margin-auto img-responsive") %>
			<h5 class="text-center text-uppercase" id="location">Madison, Wisconsin</h5>
		</div>	
	</div>
</div>
