<div class="container" id="artContainer">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<%= render 'layouts/menu' %>
		</div>
			
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="logoDiv">
			<%= image_tag("nldr_text.png", :id=> "art") %>
			<h5 class="text-center text-uppercase" id="location">Madison, Wisconsin</h5>
		</div>	
	</div>
</div>
