<div class="container-fluid" id="artContainer">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<%= render 'layouts/menu' %>
		</div>
	
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<%= image_tag("nldr_text2.png", :id=> "art") %>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<p id="tester">Located in Madison, Wisconsin</p>
		</div>
	</div>
</div>
